{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}
<main role="main" class="homepage">

  {{ partial "hero.html" . }}

  <h1 class="headline">All Posts</h1>

  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}

  <section class="article-more">
    <ul>
      {{ range ($section) }}
        <li><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time> - <a href="{{ .URL }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </section>

</main>

{{ partial "footer.html" . }}

